body {
    font-family: 'Raleway', sans-serif;
    color: #42404a;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    color: #42404a;
    font-size: 1rem;
}

ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

li {
    margin-left: 1rem;
    padding: 1rem;
}

p {
    font-size: 2rem;
}

.containerLeft {
    background-image: url("/images/Coffee_And_Coding.png");
    background-repeat: no-repeat;
    padding: 6rem;
    width: 30%;
    height: 100%;
    left: 0;
    background-position: left 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: space-between; */
    background-color: #42404a;
    background-attachment: scroll, scroll;
    background-repeat: repeat, no-repeat;
    background-size: auto, 150%;
    position: fixed;
    text-align: right;
    top: 0;
}

.centerProfilePic {
    display: flex;
}

.emptySpace {
    width: 40%;
}

.profilePicture  {
    border-radius: 100%;
    width: 75%;
    border-radius: 100%;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 50%);
}

h1 {
    text-align: center;
    color: #42404a;
    font-size: 4.25rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    margin-top: 0;
    font-size: 2rem;
}

h4 {
    text-align: center;
    font-size: 1.75rem;
}

.subtitle {
    max-width: 30rem;
    text-align: center;
    color: #42404a;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /*Gives that scrolling effect as the typing happens*/
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    /* position: fixed;
    top: 40%;
    left: 12%; */
}


/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.titleAndSubtitle {
    display: flex;
    flex-direction: column;
}









.containerRight {
    overflow: scroll;
    max-height: 100rem;
    margin-left: 30%;
    max-width: none;
    padding: 6rem 3rem 3rem 18rem;
    width: calc(100% - 30%);
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.videoPosition {
    display: flex;
}

iframe {
    width: 250rem;
}

.projectDescription {
    padding: 0 0 2rem 2rem;
}

.holidayRoadSection, .nutshellSection {
    padding: 2rem;
}

.videoPosition {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo {
    border-radius: 50%;
    max-width: 5rem;
    border: .5rem white solid;
    padding: .5rem;
    background-color: white;
    margin: .2rem;
}

.main {
    display: flex;
}

.about, .groupProjects, .soloProjects, .techBlock, .educationBlock {
    padding: 2rem;
}

.techUsed {
    display: flex;
    justify-content: center;
}

.logoTechBlock {
    width: 10rem;
    height: 10rem;
    border: .5rem white solid;
    padding: .5rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
}

.techHeading, .edHeading {
    text-align: center;
    margin-bottom: 2rem;
}

.techBlockLogos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
}

.NSSEd, .UAEd {
    display: flex;
}

.logoEdBlock {
    width: 10rem;
    height: 10rem;
    padding-top: 2rem;
}

.NSSInfo, .UAInfo {
    padding: 2rem;
}

.langUsed {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoTitle {
    text-align: center;
    padding: .5rem;
}