body {
    font-family: 'Raleway', sans-serif;;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

.profilePicture {
    border-radius: 50%;
    width: 20%;
    margin-top: 2rem;
}

a {
    color: black;
}

header {
    background-color: #CBF3F0;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.centerProfilePic {
    display: flex;
}

.emptySpace {
    width: 40%;
}

h1 {
    text-align: center;
    color: white;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    margin-left: 1rem;
    padding: 1rem;
}

.logo {
    border-radius: 50%;
    max-width: 5rem;
}

.groupProjects, .techBlock {
    background-color: #CBF3F0;
}

